{% extends "layout/basic.html" %}

{% block content %}
    <div class="main-container container">

        <header role="banner" id="page-header"></header> <!-- /#page-header -->

        <div class="row">

            <section class="col-sm-7 section-contenu">

                <a id="main-content"></a>
                <div class="region region-content">
                    <section id="block-system-main" class="block block-system clearfix">

                        <article id="node-121" class="node node-page clearfix">
                            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                <div class="field-items">
                                    <div class="field-item even">
                                        <div id="resultStats">Всё по делу. У вас мало времени, я в вас это ценю</div>
                                        <div class="def-well">
                                            <h2>Первый действия</h2>
                                            <div class="row">
                                                <div class="col-xs-4 text-center">
                                                    <img src="../sites/default/files/pictures/google_tag_manager_logo1.svg"
                                                         alt="Google Tag Manager" width="60%"/><h4>Параметры жилья</h4>
                                                </div>
                                                <div class="col-xs-4 text-center">
                                                    <img src="../sites/default/files/pictures/google_analytics_logo1.svg"
                                                         alt="Google Analytics" width="53.7%"/><h4>Ваши возможности</h4>
                                                </div>
                                                <div class="col-xs-4 text-center" style="font-size:2vw;">
                                                    <img src="../sites/default/files/pictures/google_data_studio_logo1.svg"
                                                         alt="Google Data Studio" width="65%"/><h4>Варианты сделок</h4>
                                                </div>
                                            </div>
                                            <div class="grey-txt">Описание</div>
                                            <p> – мы чётко определяем параметры необходимого жилья и способы оплаты.
                                                Если у вас сейчас нет необходимой суммы для приобретения жилья
                                                рассматриваем альтернативную сделку.</p>
                                        </div>
                                        <div class="well">
                                            <p>Альтернативная сделка — это одновременная продажа уже имеющейся
                                                недвижимости и покупка новой квартиры в один день.</p>
                                            <p>В случаи приобретения недвижимости с привлечением кредита я повышаю шанс
                                                выдачи необходимой суммы на наиболее выгодных условиях.</p>

                                            <p><strong>Поиск квартиры</strong></p>

                                            <p>Подбираю варианты из самого полного объёма предложений на текущий момент.
                                                Кроме вариантов из баз данных других риэлтеров, самые «горячие
                                                предложения» + мои личные объекты недвижимости (эксклюзивные предложения
                                                до публикации в широкой рекламе)</p>
                                        </div>
                                        <div class="def-well">
                                            <h2>Варианты уже выбраны?</h2>
                                            <p>Я провожу юридическую экспертизу недвижимости. Проверяю документы,
                                                историю квартиры с момента постройки до последнего собственника и
                                                обращаю внимание на каждого зарегистрированного в этой недвижимости и
                                                его дальнейшую судьбу. Подготавливаю полный комплект документов и
                                                сопровождаю на всех стадиях оформления в инстанциях.</p>
                                        </div>
                                        <div class="well">
                                            <h2>Все эти действия требуют строгого соблюдения закона и безупречного
                                                оформления:</h2>
                                            <ol>
                                                <li>Предварительный договор (задаток)</li>
                                                <li>Расчёты</li>
                                                <li>Подписание, удостоверения и регистрация договора купли-продажи</li>
                                                <li>Акт приемки – передачи объекта недвижимости</li>
                                                <li>Страхование сделки</li>
                                            </ol>
                                            <h2>это всё моя зона ответственности</h2>
                                        </div>
                                        <div class="top-well">
                                            <h2>Как продвигается покупка?</h2>
                                            <p>Я как эксперт всегда буду рад вам помочь</p>

                                            <div class="calltoaction"><a href="contact.html">Лучше позвоню Илье!!</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>

                    </section>
                </div>
            </section>

            <aside class="col-sm-6 section-side-right" role="complementary">
                <div class="region region-sidebar-second">
                    <section id="block-block-27" class="block block-block clearfix">

                        <p><a href="https://yandex.by/profile/43136418023" target="_blank">
                            <img class="sidebar-image" src="../sites/all/themes/bootstrap_material/images/google-data-studio-demo1.png"/></a>
                        </p>

                    </section>

                    <section id="block-block-25" class="block block-block clearfix">

                        <h2 class="block-title">Пясецкий Илья Денисович</h2>

                        <div id="resultStats">Риэлтер</div>
                        <p>Вы хотите получить максимальную отдачу от своего объекта недвижимости? Свяжитесь со мной<a
                                href="contact.html"> - мои контакты</a> , я смогу оценить вашу ситуацию и сделать вам
                            предложение.</p>
                        <p><strong>Расположение :</strong>Площадь Свободы 8 - Беларусь, Минск</p>
                        <p><strong>Профессия :</strong>Риэлтер / эксперт рынка недвижимости</p>
                        <p><strong>Специализация:</strong><a href="/ru/buyer.html">Продажа - подбор - обмен жилой
                            недвижимости</a></p>

                    </section>
                    <section id="block-menu-menu-outils-webanalytics" class="block block-menu clearfix">

                        <h2 class="block-title">Полезные файлы:</h2>
                        <ul class="menu nav">
                            <li class="first leaf"><a href="../en/webanalytics.html" rel="nofollow">Пошаговое
                                руководство для покупки недвижимости</a></li>
                        </ul>
                    </section>
                    <section id="block-menu-menu-blogs-analytics" class="block block-menu clearfix">

                        <h2 class="block-title">Почему работать со мной?</h2>
                        <ul class="menu nav">
                            <li class="first last leaf"><a href="" target="_blank">Можно говорить что угодно, НО
                                увидеть, это совсем другое</a></li>
                        </ul>
                    </section>
                </div>
            </aside>  <!-- /#sidebar-second -->

        </div>
    </div>
{% endblock %}