{% extends "layout/basic.html" %}
{% load static %}

{% block navigation %}
    <nav role="navigation">
        <ul class="menu nav navbar-nav">
            <li class="first leaf"><a href="{% url "seller_page" %}">Продавцу</a>
            </li>
            <li class="leaf"><a href="{% url "buyer_page" %}">Покупателю</a></li>
            <li class="leaf"><a href="{% url "ilyapiasetski_page" %}">Google Резюме</a></li>
            <li class="last leaf active-trail active"><a href="{% url "contact_page" %}" class="active-trail active">Контакты</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div class="main-container container">

        <header role="banner" id="page-header"></header> <!-- /#page-header -->

        <div class="row">

            <section class="col-sm-7 section-contenu">

                <a id="main-content"></a>
                <div class="region region-content">
                    <section id="block-system-main" class="block block-system clearfix">

                        <article id="node-123" class="node node-webform clearfix">
                            <div class="field field-name-field-text field-type-text-long field-label-hidden">
                                <div class="field-items">
                                    <div class="field-item even">
                                        <div class="top-well">
                                            <h3>Дорого продать &amp; Выгодно купить</h3>

                                            <div class="grey-txt">Заполните форму и я вам перезвоню</div>
                                        </div>
                                    </div>
                                </div>
                            </div>





                        </article>

                    </section>
                </div>
            </section>

            <aside class="col-sm-6 section-side-right" role="complementary">
                <div class="region region-sidebar-second">
                    <section id="block-block-20" class="block block-block clearfix">

                        <p><img class="sidebar-image"
                                src="{% static "bboard/img/ilya_piasetski_google.png" %}"/></p>

                    </section>
                    <section id="block-block-17" class="block block-block clearfix">

                        <h2 class="block-title">Контактная информация</h2>

                        <div id="resultStats">Пясецкий Илья Денисович</div>
                        <p><strong>Компания:</strong> "ООО Центр Недвижимости "Ситилэнд"</p>
                        <p><strong>Зона работы:</strong> Минск и Минская область</p>
                        <p><strong>Адрес:</strong><a href="https://yandex.by/profile/43136418023" target="_blank">Площадь
                            Свободы 8, - Минск, Беларусь</a></p>
                        <p><strong>Телефон:</strong><img alt=""
                                                         src="{% static "bboard/img/phone3.gif" %}"
                                                         style="height:30px; margin-top:-3px; width:150px"/></p>

                    </section>
                    <section id="block-menu-menu-social-networks" class="block block-menu clearfix">

                        <h2 class="block-title">Социальные сети</h2>

                        <ul class="menu nav">
                            <li class="first leaf"><a href="https://www.linkedin.com/in/илья-пясецкий-0347551bb/"
                                                      title="Ilya Piasetski - Linkedin" target="_blank">Linkedin</a>
                            </li>
                            <li class="leaf"><a href="https://www.facebook.com/realt.classic/" target="_blank">Facebook</a></li>
                            <li class="leaf"><a href="https://vk.com/id358398208"
                                                title="Ilya Piasetski - ВКонтакте" target="_blank">ВКонтакте</a></li>
                            <li class="last leaf"><a href="https://twitter.com/realt_classic"
                                                     title="Ilya Piasetski - Twitter" target="_blank">Twitter</a></li>
                        </ul>
                    </section>
                </div>
            </aside>  <!-- /#sidebar-second -->

        </div>
    </div>
{% endblock %}

