{% extends "layout/basic.html" %}

{% block navigation %}
    <nav role="navigation">
        <ul class="menu nav navbar-nav">
            <li class="first leaf"><a href="{% url "seller_page" %}">Продавцу</a>
            </li>
            <li class="leaf"><a href="{% url "buyer_page" %}">Покупателю</a></li>
            <li class="leaf active-trail active"><a href="{% url "ilyapiasetski_page" %}" class="active-trail active">Google Резюме</a></li>
            <li class="last leaf"><a href="{% url "contact_page" %}">Контакты</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div class="main-container container">

        <header role="banner" id="page-header"></header> <!-- /#page-header -->

        <div class="row">

            <section class="col-sm-7 section-contenu">

                <a id="main-content"></a>
                <div class="region region-content">
                    <section id="block-system-main" class="block block-system clearfix">

                        <article id="node-8" class="node node-page clearfix">
                            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                <div class="field-items">
                                    <div class="field-item even">
                                        <div id="resultStats">Около 950 людей рекомендуют (~750 Минск ~200 Минская
                                            область). Фото с довольными клиентами.
                                        </div>
                                        <div class="well">
                                            <h3><a href="ilyapiasetski.html">Фото с довольными клиентами |
                                                Рекомендации</a></h3>

                                            <div class="table">
                                                <div class="table__cell">
                                                    <img style="padding-right: 10px;padding-top: 10px;"
                                                         src="../sites/all/themes/bootstrap_material/images/IMG_1.jpg"
                                                         alt=""/>
                                                    <img style="padding-right: 10px;padding-top: 20px;"
                                                         src="../sites/all/themes/bootstrap_material/images/IMG_2.JPG"
                                                         alt=""/>
                                                    <img style="padding-right: 10px;padding-top: 10px;"
                                                         src="../sites/all/themes/bootstrap_material/images/IMG_16.jpg"
                                                         alt=""/>
                                                    <img style="padding-right: 10px;padding-top: 10px;"
                                                         src="../sites/all/themes/bootstrap_material/images/IMG_17.jpg"
                                                         alt=""/>
                                                    <img style="padding-right: 10px;padding-top: 10px;"
                                                         src="../sites/all/themes/bootstrap_material/images/IMG_3.JPG"
                                                         alt=""/>
                                                    <img style="padding-right: 10px;padding-top: 20px;"
                                                         src="../sites/all/themes/bootstrap_material/images/IMG_4.jpg"
                                                         alt=""/>
                                                    <img style="padding-right: 10px;padding-top: 20px;"
                                                         src="../sites/all/themes/bootstrap_material/images/IMG_5.JPG"
                                                         alt=""/>
                                                    <img style="padding-right: 10px;padding-top: 20px;"
                                                         src="../sites/all/themes/bootstrap_material/images/IMG_6.JPG"
                                                         alt=""/>
                                                    <img style="padding-right: 10px;padding-top: 20px;"
                                                         src="../sites/all/themes/bootstrap_material/images/IMG_7.JPG"
                                                         alt=""/>
                                                    <img style="padding-right: 10px;padding-top: 20px;"
                                                         src="../sites/all/themes/bootstrap_material/images/IMG_8.JPG"
                                                         alt=""/>
                                                    <img style="padding-right: 10px;padding-top: 20px;"
                                                         src="../sites/all/themes/bootstrap_material/images/IMG_9.JPG"
                                                         alt=""/>
                                                    <img style="padding-right: 10px;padding-top: 20px;"
                                                         src="../sites/all/themes/bootstrap_material/images/IMG_10.JPG"
                                                         alt=""/>
                                                    <img style="padding-right: 10px;padding-top: 20px;"
                                                         src="../sites/all/themes/bootstrap_material/images/IMG_11.JPG"
                                                         alt=""/>
                                                    <img style="padding-right: 10px;padding-top: 20px;"
                                                         src="../sites/all/themes/bootstrap_material/images/IMG_12.JPG"
                                                         alt=""/>
                                                    <img style="padding-right: 10px;padding-top: 20px;"
                                                         src="../sites/all/themes/bootstrap_material/images/IMG_13.JPG"
                                                         alt=""/>
                                                    <img style="padding-right: 10px;padding-top: 20px;"
                                                         src="../sites/all/themes/bootstrap_material/images/IMG_14.jpg"
                                                         alt=""/>
                                                </div>
                                            </div>

                                            <div class="well associated-search">
                                                <h3>Перейти к другой информации</h3>
                                                <p><a href="buyer.html">Покупателю</a></p>
                                                <p><a href="seller.html">Продавцу</a></p>
                                                <p><a href="">Google Резюме</a></p>
                                            </div>
                                            <div class="top-well">
                                                <h2>Готов приступить к работе, решить вашу задачу.</h2>
                                                <p>Мы можем поработать вместе?</p>
                                                <div class="calltoaction"><a href="contact.html">Контакты</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>

                    </section>
                    <section id="block-block-9" class="block block-block clearfix">

                        <p><a href="contact.html">
                            <img alt=""
                                 src="../sites/all/themes/bootstrap_material/images/realtor1.gif"
                                 style="display:block; height:65px; margin-bottom:30px; margin-left:auto; margin-right:auto; width:296px"/></a>
                        </p>

                    </section>
                </div>
            </section>

            <aside class="col-sm-6 section-side-right" role="complementary">
                <div class="region region-sidebar-second">
                    <section id="block-block-20" class="block block-block clearfix">

                        <p><img class="sidebar-image"
                                src="../sites/all/themes/bootstrap_material/images/ilya_realt.png"/></p>

                    </section>
                    <section id="block-block-16" class="block block-block clearfix">

                        <h2 class="block-title">Пясецкий Илья Денисович</h2>

                        <div id="resultStats">Эксперт рынка недвижимости по Минску и Минской области</div>
                        <p><strong>Опыт в сфере работы :</strong> с 2017 года</p>
                        <p><strong>Процент продажи дороже рынка :</strong> 9,78% (от реальной стоимости недвижимости)
                        </p>
                        <p><strong>Расположение :</strong><a
                                href="https://www.google.fr/maps/place/Gary+Le+Masson,+consultant+SEO+%26+Google+Analytics+%C3%A0+Paris/@48.8385196,2.3923929,15z/data=!4m2!3m1!1s0x0:0x726c7b84b863f01a?hl=en"
                                target="_blank">Площадь Свободы 8, Минск, Беларусь</a></p>
                        <p><strong>Профессия :</strong>Риэлтер / эксперт рынка недвижимости</p>
                        <p><strong>Специализация :</strong> <a href="seller.html">Продажа - подбор - обмен жилой
                            недвижимости</a></p>

                    </section>
                    <section id="block-menu-menu-cv-google" class="block block-menu clearfix">

                        <h2 class="block-title">Google Резюме</h2>

                        <ul class="menu nav">
                            <li class="first leaf"><a href="">Опыт</a></li>
                            <li class="leaf"><a href="">Быстрое реагирование</a></li>
                            <li class="leaf"><a href="">Прямая выгода</a></li>
                            <li class="last leaf"><a href="">Работа любой сложности</a></li>
                        </ul>
                    </section>
                </div>
            </aside>  <!-- /#sidebar-second -->

        </div>
    </div>
{% endblock %}


