{% extends "layout/basic.html" %}
{% load static %}

{% block navigation %}
    <nav role="navigation">
        <ul class="menu nav navbar-nav">
            <li class="first leaf"><a href="{% url "seller_page" %}">Продавцу</a>
            </li>
            <li class="leaf"><a href="{% url "buyer_page" %}">Покупателю</a></li>
            <li class="leaf active-trail active" id="btn-navbar"><a href="{% url "ilyapiasetski_page" %}" class="active-trail active">Google Резюме</a></li>
            <li class="last leaf"><a href="{% url "contact_page" %}">Контакты</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div class="main-container container">

        <header role="banner" id="page-header"></header> <!-- /#page-header -->

        <div class="row">

            <section class="col-sm-7 section-contenu">

                <a id="main-content"></a>
                <div class="region region-content">
                    <section id="block-system-main" class="block block-system clearfix">

                        <article id="node-8" class="node node-page clearfix">
                            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                <div class="field-items">
                                    <div class="field-item even">
                                        <div id="resultStats">Около 950 людей рекомендуют (~750 Минск ~200 Минская
                                            область). Фото с довольными клиентами.
                                        </div>
                                        <div class="well">
                                            <h3 style="font-size: 120% ;">Фото с довольными клиентами |
                                                Рекомендации</h3>

                                            <div class="table">
                                                <div class="table__cell">
                                                    <img style="padding-right: 10px;padding-top: 10px; border: peachpuff; border-width: thin; border-image: {% static "bboard/img/facebook.png" %} 10 round round;"
                                                         src="{% static "bboard/img/Happy_clients_2.JPG" %}"
                                                         alt=""/>
                                                    <img style="padding-right: 10px;padding-top: 10px;"
                                                         src="{% static "bboard/img/Happy_clients_4.JPG" %}"
                                                         alt=""/>
                                                    <img style="padding-right: 10px;padding-top: 10px;"
                                                         src="{% static "bboard/img/Happy_clients_5.jpg" %}"
                                                         alt=""/>
                                                    <img style="padding-right: 10px;padding-top: 10px;"
                                                         src="{% static "bboard/img/Happy_clients_3.JPG" %}"
                                                         alt=""/>

                                                </div>
                                            </div>


                                            <div class="top-well">
                                                <h2>Готов приступить к работе, решить вашу задачу.</h2>
                                                <p>Мы можем поработать вместе?</p>
                                                <div class="calltoaction"><a href="{% url "contact_page" %}">Контакты</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>

                    </section>
                    <section id="block-block-9" class="block block-block clearfix">

                        <p><a href="{% url "contact_page" %}">
                            <img alt=""
                                 src="{% static "bboard/img/moving_house.gif" %}"
                                 style="display:block; margin-bottom:30px; margin-left:auto; margin-right:auto; width:50%"/></a>
                        </p>

                    </section>
                </div>
            </section>

            <aside class="col-sm-6 section-side-right" role="complementary">
                <div class="region region-sidebar-second">
                    <section id="block-block-20" class="block block-block clearfix">

                        <p><img class="sidebar-image"
                                src="{% static "bboard/img/ilya_realt_new-removebg-preview_3.jpg" %}"/></p>

                    </section>
                    <section id="block-block-16" class="block block-block clearfix">

                        <h2 class="block-title">Пясецкий Илья Денисович</h2>

                        <div id="resultStats">Эксперт рынка недвижимости по Минску и Минской области</div>
                        <p><strong>Опыт в сфере работы :</strong> с 2017 года</p>
                        <p><strong>Процент продажи дороже рынка :</strong> 9,78% (от реальной стоимости недвижимости)
                        </p>
                        <p><strong>Расположение :</strong><a
                                href="https://yandex.by/profile/43136418023"
                                target="_blank">Площадь Свободы 8, Минск, Беларусь</a></p>
                        <p><strong>Профессия:</strong> Риэлтер / эксперт рынка недвижимости</p>
                        <p><strong>Специализация:</strong> <a href="https://zen.yandex.ru/media/id/5f0ac5bee281700c81dedaac/ia-b-v-rieltory-poshela-kto-takoi-rieltor-5f3b84829ed1b63a4bfc77a3"> Продажа - подбор - обмен жилой
                            недвижимости</a></p>

                    </section>
                    <section id="block-menu-menu-cv-google" class="block block-menu clearfix">

                        <h2 class="block-title">Google Резюме</h2>

                        <ul class="menu nav">
                            <li class="first leaf">Опыт</li>
                            <li class="leaf">Быстрое реагирование</li>
                            <li class="leaf">Прямая выгода</li>
                            <li class="last leaf">Работа любой сложности</li>
                        </ul>
                    </section>
                </div>
            </aside>  <!-- /#sidebar-second -->

        </div>
    </div>
{% endblock %}


