{% extends "layout/basic.html" %}
{% load static %}

{% block content %}
    <div class="main-container container">

        <header role="banner" id="page-header">

        </header> <!-- /#page-header -->

        <div class="row">


            <section class="col-sm-7 section-contenu">


                <a id="main-content"></a>
                <div class="region region-content">
                    <section id="block-system-main" class="block block-system clearfix">


                        <article id="node-100" class="node node-page clearfix">
                            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                <div class="field-items">
                                    <div class="field-item even">
                                        <div class="home-wrapper">
                                            <div class="home-logo">
                                                <img alt="Ilya Piasetski" class="center-block"
                                                     src="{% static 'bboard/img/ilya_piasetski_lite.png' %}"/>
                                            </div>
                                            <div class="home-search-bar">
                                                <div id="typed-strings">
                                                    <p style="display:none;">Привет....</p>
                                                    <p style="display:none;">Меня зовут Пясецкий Илья Денисович</p>
                                                    <p style="display:none;">Я риэлтер</p>
                                                    <p style="display:none;">Мы можем решить вашу задачу продажи
                                                        недвижимости</p>
                                                    <p style="display:none;">Останьтесь</p>
                                                    <p style="display:none;">Посмотрите, что мы можем сделать</p>
                                                    <p style="display:none;">Нажмите сейчас</p>
                                                    <p>Специалист рынка недвижимости</p>
                                                </div>
                                                <span id="typed"></span>
                                            </div>
                                            <div class="home-search-buttons">
                                                <div class="searchbutton-wrapper">
                                                    <a role="button" class="home-search-button right-search-button"
                                                       href="{% url 'seller_page' %}"
                                                       onclick="dataLayer.push({'event':'gaEvent', 'eventCategory':'Homepage Buttons', 'eventAction':'WebAnalytics', 'eventLabel':'internal Click'});">Продавцу</a>

                                                </div>
                                                <div class="searchbutton-wrapper">
                                                    <a role="button" class="home-search-button left-search-button"
                                                       href="{% url 'buyer_page' %}"
                                                       onclick="dataLayer.push({'event':'gaEvent', 'eventCategory':'Homepage Buttons', 'eventAction':'Contact - Feeling Lucky', 'eventLabel':'internal Click'});">Покупателю</a>
                                                </div>


                                            </div>
                                            <div class="row home-abuse-of-dominant">
                                                <div class="col-lg-12 col-centered">
                                                    <p>Скачать пошаговое руководство в недвижимости при: <a href="">продаже</a>
                                                        | <a href="">покупке</a></p>
                                                </div>
                                            </div>
                                        </div>

                                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                                        <script src="{% static 'bboard/js/typed.js' %}"
                                                type="text/javascript"></script>

                                        <script>
                                            $(function () {
                                                $("#typed").typed({
                                                    stringsElement: $('#typed-strings'),
                                                    contentType: 'html',
                                                    typeSpeed: 50,
                                                    startDelay: 500
                                                });
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </article>

                    </section>
                </div>
            </section>


        </div>
    </div>
{% endblock %}
