{% extends "layout/basic.html" %}

{% block content %}
    <div class="main-container container">

  <header role="banner" id="page-header">

      </header> <!-- /#page-header -->

  <div class="row">


    <section class="col-sm-7 section-contenu">


      <a id="main-content"></a>
                                                                <div class="region region-content">
    <section id="block-system-main" class="block block-system clearfix">


  <article id="node-101" class="node node-page clearfix">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even"><p>Сайт <a href="../index.html">www.mrealt.by</a> управляется экспертом рынка недвижимости в Минске. Находящимся по адресу: г. Минск, Площадь Свободы 8, 204</p>
<p>Если вы случайно обнаружите, что этот сайт выглядит как популярная поисковая система, которую вы можете использовать (например, около 90% населения Европы), пожалуйста, обратите внимание, что так оно и есть, и так оно и есть.</p>
<p>
<strong>Минск</strong> Площадь Свободы 8<br /><strong>Кабинет</strong> 204 <br /><strong>Риэлтер | эксперт рынка недвижимости</strong> Пясецкий Илья Денисович<br /><strong>Phone number:<img alt="" src="../sites/all/themes/bootstrap_material/images/phone3.gif" style="height:30px; margin-top:-3px; width:150px" /></strong><br /><strong>E-mail :</strong> Пожалуйста <a href="contact.html">используйте форму обратной связи</a><br />
<p><strong>©  All rights reserved 2017-2020 | Все права защищены ООО "Центр недвижимости «Ситилэнд»" УНП:192730746 Лицензия: 02240/324, Минюст РБ 10.01.2017</strong></p>
<h2>Обработка ваших персональных данных:</h2>
<p>Используя сайт, пользователь осознает и соглашается с тем, что организаторы и их команда могут собирать личную и коммерческую информацию, которая представляет собой информацию, идентифицирующую физическое лицо или относящуюся к определяемому физическому лицу. Эта информация собирается с помощью заполняемых форм. Часть запрашиваемой информации является обязательной и необходимой для обработки запросов пользователя. Информация, хранящаяся и собираемая, обрабатывается командой организаторов и ее коммерческими партнерами с целью предоставления пользователю наилучшего сервиса, который он запрашивает на наилучших условиях.</p>
<p>кроме того, пользователь осознает и соглашается с тем, что эти персональные данные могут быть переданы участникам в рамках процесса рассмотрения претензий или для исправления ошибок, сделанных на веб-сайте или в программном обеспечении. Они также могут быть переданы коммерческим партнерам для осуществления коммерческой обработки.</p>
<p>автоматическая обработка персональных данных была объявлена органу, ответственному за юридические вопросы.<br />

<p>Наконец, пользователь осознает и соглашается с тем, что организатор может раскрыть и передать вашу личную информацию в случае прямого приказа судьи или суда.</p>
<h2>Cookies</h2>
<p>Когда вы посещаете НАШ САЙТ или взаимодействуете с ним www.mrealt.by мы или наши авторизованные поставщики услуг можем использовать файлы cookie для хранения информации, чтобы помочь вам получить лучший, быстрый и безопасный опыт.</p>
<p>Эта страница предназначена для того, чтобы помочь вам лучше понять эти технологии и их использование на наших сайтах, а также в наших сервисах, приложениях и инструментах. Ниже приводится краткое изложение нескольких ключевых вещей, которые вы должны знать о нашем использовании таких технологий.</p>
<h3>Что такое cookie?</h3>
<p>Файлы cookie-это небольшие текстовые файлы (обычно состоящие из букв и цифр), помещаемые в память вашего браузера или устройства при посещении веб-сайта или просмотре сообщения. Файлы cookie позволяют веб-сайту распознавать конкретное устройство или браузер. Как и большинство сайтов, garylemasson.com использует технологии, которые по сути представляют собой небольшие файлы данных, размещенные на вашем устройстве, которые позволяют нам записывать определенные фрагменты информации всякий раз, когда вы посещаете или взаимодействуете с нашими сайтами, службами, приложениями, сообщениями и инструментами.
</p>
<p>  Существует несколько типов файлов cookie:</p>
  <p> сеансовые файлы cookie истекают в конце сеанса Вашего браузера и позволяют нам связывать ваши действия во время этого конкретного сеанса браузера.<br />
   Постоянные файлы cookie хранятся на вашем устройстве в промежутках между сеансами браузера, что позволяет нам запоминать ваши предпочтения или действия на нескольких сайтах.<br/>
   Сторонние файлы cookie устанавливаются сайтом, который вы посещаете.<br />
   Сторонние файлы cookie устанавливаются сторонним сайтом отдельно от сайта, который вы посещаете.</p>
  <h3>какой тип файлов cookie используется компанией www.mrealt.by?</h3>
<p>Наши файлы cookie имеют различные функции. Они либо необходимы для функционирования наших сервисов, либо помогают нам улучшить нашу производительность, предоставить вам дополнительные функциональные возможности, либо помогают нам показывать вам релевантную и целевую рекламу. Мы используем файлы cookie и аналогичные технологии, которые остаются на вашем устройстве только до тех пор, пока вы поддерживаете активный браузер (сеанс), а также файлы cookie и аналогичные технологии, которые остаются на вашем устройстве в течение более длительного периода времени (постоянные).</p>
<h4>1. Файлы cookie, установленные</h4>
<h3></h3>3. Сторонние файлы cookie</Н3>
<Р>установить с помощью файлов cookie файлы cookie имя' цель жизни<БР />
Google Analytics _utma; _utmb; _utmc; _utmv; _utmz анализируйте активность на garylemasson.com и его трафик между временной сессией и 2 годами<br />
Google Universal Analytics _ga пользователи и посетители могут заполнить форму, чтобы связаться с нами для получения любой помощи или жалоб максимум за 2 года</p>
<p>мы можем использовать файлы cookie для оценки производительности наших веб-сайтов, приложений,</p>
<p> </p>
</div></div></div>    </article>

</section>
  </div>
    </section>


  </div>
</div>
{% endblock %}
