{% extends "layout/basic.html" %}
{% load static %}

{% block navigation %}
    <nav role="navigation">
        <ul class="menu nav navbar-nav">
            <li class="first leaf active-trail active" id="btn-navbar"><a href="{% url "seller_page" %}" class="active-trail active">Продавцу</a>
            </li>
            <li class="leaf"><a href="{% url "buyer_page" %}">Покупателю</a></li>
            <li class="leaf"><a href="{% url "ilyapiasetski_page" %}">Google Резюме</a></li>
            <li class="last leaf"><a href="{% url "contact_page" %}">Контакты</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
<div class="main-container container">
    <header role="banner" id="page-header"></header> <!-- /#page-header -->
    <div class="row">
        <section class="col-sm-7 section-contenu">
            <a id="main-content"></a>
            <div class="region region-content">
                <section id="block-system-main" class="block block-system clearfix">
                    <article id="node-121" class="node node-page clearfix">
                        <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                            <div class="field-items">
                                <div class="field-item even">
                                    <div id="resultStats">Всё по делу. У вас мало времени, я в вас это ценю</div>
                                    <div class="def-well">
                                        <h2>Основные Инструменты Продажи</h2>

                                        <div class="row">
                                            <div class="col-xs-4 text-center">
                                                <img src="{% static "bboard/img/google_tag_manager_logo1.svg" %}" alt="Google Tag Manager" width="60%"  />
                                                <h4>Креативная стратегия</h4>
                                            </div>

                                            <div class="col-xs-4 text-center">
                                                <img src="{% static "bboard/img/google_analytics_logo1.svg" %}" alt="Google Analytics" width="53.7%"  />
                                                <h4>Анализ локального рынка</h4>
                                            </div>

                                            <div class="col-xs-4 text-center" style="font-size:2vw;" >
                                                <img src="{% static "bboard/img/google_data_studio_logo1.svg" %}" alt="Google Data Studio" width="65%"  />
                                                <h4>Работа с текущими клиентами</h4>
                                            </div>
                                        </div>

                                        <div class="grey-txt">Описание</div>
                                        <p> Маркетинг занял в мире серьёзную часть. Без него никуда.
                                            Недвижимость - не исключение. Только креативные и нестандартные способы
                                            продажи дают нужный результат. База покупателей - не актуальна! Важно иметь
                                            в рукаве покупателей и продавцов которым нужно решать жилищный вопрос сейчас,
                                            а не база собранная годами, которая уже не актуальна.Эксперт который лучше всего
                                            знает ваш рынок. Звоните +375(29)333-15-36, чтобы сразу же приступить к работе.</p>
                                    </div>
                                    <div class="well">
                                        <h2>КОНСЬЕРЖ - ПРОГРАММА</h2>
                                        <p>Эксклюзивно для клиентов, наша консьерж-программа включает в себя расходы на услуги, которые могут повысить
                                            ценность вашей квартиры. От постановки в интернет ресурсах, до покраски.Не будет взиматься плата, пока ваша
                                            квартира не продастся.</p>
                                        <p><strong>НИКАКИХ АВАНСОВЫХ РАСХОДОВ, НИКАКИХ ПРОЦЕНТОВ - НИКОГДА.</strong></p>

                                        <ul>
                                            <li>Физическая (локальная) реклама</li>
                                            <li>Выделенные позиции на интернет ресурсах</li>
                                            <li>Профессиональные фото</li>
                                            <li>Косметический ремонт</li>
                                            <li>Деклаттеринг</li>
                                        </ul>
                                    </div>
                                    <div class="def-well">
                                        <h2>Ищете покупателя?</h2>
                                        <p>Список заинтересованных покупателей тут <a href="seller.html">список покупателей</a>,
                                            Для продажи необходимы некоторые приготовления, что бы не "зависнуть" на долго -
                                            не потерять в цене.</p>
                                        <div class="grey-txt">Разрабатывается стратегия продажи</div>
                                        <p>При встрече разбираем иммено вашу ситуацию. Обмен - продажа-покупка в одинь день,
                                            продажа, подбор частного дома либо участка - всё это можно организовать без
                                            проблем и неурядец, но толькло зная как именно пошагово выполнять действия.</p>
                                    </div>
                                    <div class="well">
                                        <h2>Основные препядствия при продаже:</h2>
                                        <ol>
                                            <li>Плохие фотографии</li>
                                            <li>Неинформативен текст в объявлении</li>
                                            <li>Отсутствуют переодические обновления</li>
                                            <li>Показ квартиры "туристам" (ходят смотрят, но не купят)</li>
                                            <li>Неверное проведения показа квартиры</li>
                                            <li>Покупатель не может почувствовать себя новых хозяином в просматриваемой квартире</li>
                                            <li>Некорректная стоимость относительно рынка</li>
                                            <li>Незнание юридеских процедур оформления и отсутсвие гарантий</li>
                                        </ol>
                                    </div>

                                    <div class="top-well">
                                        <h2>Выставил в интернет и жду звонка</h2>
                                        <p>Вам будут звонить, но не по делу! Выставив квартиру на продажу вы ждёте звонка
                                            покупателя? А звонить будут не они...</p>
                                        <div class="grey-txt">Что делать в таком случаи?</div>
                                        <p>Экспер сэкономит ваше время и деньги. Я работаю со всеми агенствами Минска.
                                            Вижу всех покупателей! - громкое заявление? Проверьте, прежде чем осуждать:)</p>
                                    </div>

                                    <div class="well">
                                        <h2>Что я могу дать вам?</h2>
                                        <p>Решение вашей задачи. Гарантии (застраховать сделку). Юридическое сопровождение.
                                            Помощь в ремонте и строительстве. И конечно сэкономлю ваше время и нервы.</p>
                                    </div>

                                    <div class="top-well">
                                        <h2>Как продвигается продажа?</h2>
                                        <p>Я как эксперт всегда буду рад вам помочь</p>
                                        <div class="calltoaction">
                                            <a href="{% url "contact_page" %}">Лучше позвоню Илье!!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </section>
            </div>
        </section>

        <aside class="col-sm-6 section-side-right" role="complementary">

            <div class="region region-sidebar-second">
                <section id="block-block-27" class="block block-block clearfix">
                    <p><a href="https://yandex.by/profile/43136418023" target="_blank">
                        <img class="sidebar-image"
                             src="{% static "bboard/img/yandex_map.png" %}"/>
                    </a></p>
                </section>
                <section id="block-block-25" class="block block-block clearfix">
                    <h2 class="block-title">Пясецкий Илья Денисович</h2>
                    <div id="resultStats">Риэлтер</div>
                    <p>Вы хотите получить максимальную отдачу от своего объекта недвижимости? Свяжитесь со
                        мной
                        <a href="{% url "contact_page" %}"> - мои контакты</a> , я смогу оценить вашу ситуацию и
                        сделать вам предложение.</p>
                    <p><strong>Расположение :</strong>Площадь Свободы 8 - Беларусь, Минск</p>
                    <p><strong>Профессия :</strong>Риэлтер / эксперт рынка недвижимости</p>
                    <p><strong>Специализация:</strong><a
                            href="https://zen.yandex.ru/media/id/5f0ac5bee281700c81dedaac/ia-b-v-rieltory-poshela-kto-takoi-rieltor-5f3b84829ed1b63a4bfc77a3">Продажа
                        - подбор - обмен жилой
                        недвижимости</a></p>
                </section>

                <section id="block-menu-menu-outils-webanalytics" class="block block-menu clearfix">
                    <h2 class="block-title">Полезные файлы:</h2>
                    <ul class="menu nav">
                        <li class="first leaf">
                            <a href="http://samsebeyurist.by/zhile-i-nedvizhimost/kak-kupit-nedvizhimost"
                               rel="nofollow">Пошаговое руководство для
                                продажи недвижимости</a></li>
                    </ul>
                </section>

                <section id="block-menu-menu-blogs-analytics" class="block block-menu clearfix">
                    <h2 class="block-title">Почему работать со мной?</h2>
                    <ul class="menu nav">
                        <li class="first last leaf"><a href="{% url "ilyapiasetski_page" %}" target="_blank">Можно
                            говорить что угодно, НО
                            увидеть, это совсем другое</a></li>
                    </ul>
                </section>
            </div>
        </aside>

    </div>
</div>
{% endblock %}